

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link pointer" routerLinkActive="active"  (click)="selectTable('WAITING')">Waiting</a>
  </li>
  <li class="nav-item pointer">
    <a class="nav-link" routerLinkActive="active" (click)="selectTable('INVALID')">Refused</a>
  </li>
  <li class="nav-item pointer">
    <a class="nav-link" routerLinkActive="active"  (click)="selectTable('VALID')">Validat</a>
  </li>

</ul>


<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Titulaire</th>
          <th>Diplome</th>
          <th>Date d'ajout</th>
          <th>Date d'expiration</th>
          <th>Document</th>
        </tr>
      </thead>
      <tbody>
        <tr style="cursor: pointer;" *ngFor="let degree of searchDocObject?.documents?.nodes" >
          <td routerLink="{{'/admin/sailor/'+degree.user.id+'/profil'}}">
            {{degree?.user?.firstname}}
            {{degree?.user?.userDetailById?.lastname}}
            </td>
          <td>{{degree?.documentType?.name}}</td>
          <td>{{degree?.createdAt | date:'dd/MM/yyyy'}}</td>
          <td>{{degree?.expirationDate | date:'dd/MM/yyyy'}}</td>
          <td >
            <img matTooltip="Visualiser" (click)="openModal(degree)" class="icon--action cursor width35px" src="assets/images/icon-doc.svg" alt="Voir">
            <img matTooltip="Accepter" (click)="validation(degree)" class="icon--action cursor width35px" src="assets/images/icon-tick.svg" alt="Accepter">
           </td>
        </tr>
      </tbody>
    </table>
  </div>



<!-- Modal (popup) -->
<div class="table-responsive">
  <form [formGroup]="modifyForm">
  <div id="myModal" class="modal">
    <div class="modal-content large-modal">
      <span class="close" (click)="closeModal('myModal')">&times;</span>
      <h2>Ajout de diplôme</h2>
      <div class="content">

        <div class="form-group">
          <p>Titulaire:
            {{ selectedTraining?.user?.firstname }}
            {{ selectedTraining?.user?.userDetailById?.lastname }}
            </p>
        </div>
        <div class="row">
          <div class="col-sm">
            <label for="holderNumber">N° du titulaire</label>
            <input type="text" class="form-control" id="titulaire-number" formControlName="holderNumber">
          </div>
          <div class="col-sm">
            <label for="serial">N° Titre</label>
            <input type="text" class="form-control" id="titulaire-number" formControlName="serial">
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label for="endDate">Date d'expiration</label>
            <mat-form-field appearance="fill">
              <input #minInput matInput
              [matDatepicker]="picker2" id="endDate" formControlName="endDate" >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm">
            <label for="birthday">Birthday</label>
            <mat-form-field appearance="fill">
              <input #minInput matInput
              [matDatepicker]="picker" id="birthday" formControlName="birthday" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>



        <div class="container">
          <div class="row">
            <div class="col-sm">
              Formation:
            </div>
            <div class="col-sm">
              <mat-form-field class="example-full-width">
                <mat-label>Document</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       class="inputValidation"
                       >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changeDocument($event)" [displayWith]="displayFn" [panelWidth]="'auto'">
                  <mat-option *ngFor="let document of filteredOptions | async"   [value]="document">
                    {{document.name}} <span style="margin-top: 3px;margin-left: 3px;" [ngClass]="['flag-icon', 'flag-icon-' + document.shortName?.toLocaleLowerCase()  ,'flag-icon-squared']"></span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="row bottom-10">
            <div class="col-sm">
              <button class="button" (click)="openDocUrl(urlDocument)"> Voir</button>
            </div>
            <div class="col-sm">
              <div class="custom-file col-sm">
                <input type="file" class="custom-file-input" id="inputFile" (change)="handleFileInput($event)" >
                <label class="custom-file-label" for="inputFile">document</label>
              </div>
            </div>
            <div class="col-sm">
              <button class="button" (click)="confirmModification(selectedTraining)">Accepter les modifications</button>
            </div>
          </div>
          <div class="row">
              <iframe  height="400" width="400" [src]="urlDocument" frameborder="0"></iframe>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <button (click)="downloadImage(urlDocument)" class="button">Télécharger</button>
            </div>
            <div class="col-sm">
              <button (click)="validation(selectedTraining)" class="button">Valider</button>
            </div>
            <div class="col-sm">
              <button  class="button" (click)="openRejectModal()">Refuser</button>
            </div>
            <div class="col-sm">
              <button (click)="deleteDocument()" class="button">Supprimer</button>
            </div>

        </div>
        <button (click)="closeModal('myModal')">Fermer</button>
      </div>
    </div>
  </div>
</form>
</div>


<!-- REJECTED MODAL -->
<div class="modal-rejected modal" id="modal-rejected">
  <div class="modal-content large-modal">

    <div class="modal-header">
      <h4 class="modal-title">Refuser le document</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal('modal-rejected')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

    <div class="row">
      <div class="col-md-9">
        <mat-select (selectionChange)="onReasonSelected($event.value)" >
          <mat-option value="NOT_ANONYME">Votre CV doit être anonymisé</mat-option>
          <mat-option value="FORMATION_MARITIME">Les attestations de formation doivent être enregistrées auprès des affaires maritimes et ne permettent pas de travailler. Merci de nous fournir un titre émit par les affaires maritimes.</mat-option>
          <mat-option value="RECYCLE">Votre "document type" nécessite d'être recyclé</mat-option>
          <mat-option value="ALGORITHME_PROBLEM">Votre document n'est pas encore pris en charge par notre algorithme, nous travaillons à développer celui-ci.</mat-option>
          <mat-option value="NOT_UPLOAD">Votre document n'a pas été correctement uploadé. En cas de problème vous pouvez nous l'envoyer à l'adresse contact@captnboat.com.</mat-option>
          <mat-option value="AUTRE">Autre</mat-option>
        </mat-select>
        <div *ngIf="reason === 'AUTRE'">
          <input id="autre" type="text">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal('modal-rejected')">Close</button>
      <button type="button" class="btn btn-primary" (click)="invalidate()">Confirmer</button>
    </div>
  </div>
</div>
</div>





