
<!-- ACCEPTED MODIF MODAL -->
<div class="modal modal-confirmed" id="modal-confirmed">
    <div class="content-confirmed">
      <div class="modal-header">
        <hr>
        <h1 class="modal-title" >Modification réussie</h1>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('modal-confirmed')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
    </div>
  </div>

<!-- ERROR MODAL -->
  <div class="modal modal-rejected" id="modal-rejected">
    <div class="content-confirmed">
      <div class="modal-header">
        <hr>
        <h1 class="modal-title" >Une erreur est survenue</h1>
        <button type="button" class="close" aria-label="Close" (click)="closeModal('modal-confirmed')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <hr>
    </div>
  </div>