<main>
  <div class="form-row">
    <div class="col">
      <form [formGroup]="editForm" (ngSubmit)="update_Variable()">

        <section>
          <h2>General Information</h2>
          <mat-form-field appearance="outline">
            <mat-label>Accident</mat-label>
            <input matInput formControlName="accident">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Brut Jour</mat-label>
            <input matInput formControlName="brutJour">
          </mat-form-field>
        </section>

        <section>
          <h2>Catégories 3</h2>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 3 base</mat-label>
            <input matInput formControlName="categorie3Base">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 3 jours</mat-label>
            <input matInput formControlName="categorie3Jour">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 3 ans</mat-label>
            <input matInput formControlName="categorie3An">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 3 L</mat-label>
            <input matInput formControlName="categorie3L">
          </mat-form-field>
        </section>

        <section>
          <h2>Catégories 6</h2>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 6 base</mat-label>
            <input matInput formControlName="categorie6Base">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 6 jours</mat-label>
            <input matInput formControlName="categorie6Jour">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 6 ans</mat-label>
            <input matInput formControlName="categorie6An">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 6 L</mat-label>
            <input matInput formControlName="categorie6L">
          </mat-form-field>
        </section>

        <section>
          <h2>Catégories 8</h2>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 8 base</mat-label>
            <input matInput formControlName="categorie8Base">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 8 jours</mat-label>
            <input matInput formControlName="categorie8Jour">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 8 ans</mat-label>
            <input matInput formControlName="categorie8An">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 8 L</mat-label>
            <input matInput formControlName="categorie8L">
          </mat-form-field>
        </section>

        <section>
          <h2>Catégories 12</h2>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 12 jours</mat-label>
            <input matInput formControlName="categorie12Jour">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 12 base</mat-label>
            <input matInput formControlName="categorie12Base">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 12 ans</mat-label>
            <input matInput formControlName="categorie12An">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Catégorie 12 L</mat-label>
            <input matInput formControlName="categorie12L">
          </mat-form-field>
        </section>

        <section>
          <h2>Additional Information</h2>
          <mat-form-field appearance="outline">
            <mat-label>Col DGH</mat-label>
            <input matInput formControlName="colDGH">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Col Enim</mat-label>
            <input matInput formControlName="colEnim">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Mort</mat-label>
            <input matInput formControlName="death">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Maladie</mat-label>
            <input matInput formControlName="disease">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Repas</mat-label>
            <input matInput formControlName="meal">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Rapatriement</mat-label>
            <input matInput formControlName="rapatriation">
          </mat-form-field>
        </section>

        <div class="update-button-container">
          <button type="button" class="reset-button" (click)="resetForm()">Réinitialiser</button>
          <button type="submit" class="update-button">Mettre à jour</button>
        </div>
      </form>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
<app-modal-confirmed></app-modal-confirmed>
<!-- Le reste de votre code HTML ici -->
