<h2 mat-dialog-title class="center">Sélectionnez une offre</h2>
<mat-dialog-content class="mat-typography">
  <div style="width: 1000px">
    <form [formGroup]="calculForm">
      <h2>Calcule prix</h2>
      <div class="form-row">
        <div class="col">
          <mat-form-field>
            <mat-label>Prix de la mission</mat-label>
            <input matInput type="number" formControlName="price">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Commission Captn Boat</mat-label>
            <input matInput type="number" formControlName="fee">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Prix marin</mat-label>
            <input matInput type="number" formControlName="sailorRemu">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Taux de commission en %</mat-label>
            <input matInput type="number" formControlName="commissionRate">
          </mat-form-field>
        </div>
      </div>
      <h2>Calcule taux</h2>
      <div class="form-row">
        <div class="col">
          <mat-form-field>
            <mat-label>Prix de la mission</mat-label>
            <input matInput type="number" formControlName="piceRate">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Commission Captn Boat</mat-label>
            <input matInput type="number" formControlName="feeRate">
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        <div class="col">Pix total: {{price}} </div>
        <div class="col">Commission {{sailorRemu}} </div>
        <div class="col">Remu sipper {{fee}} </div>
        <div class="col">Taux com {{comRate}} </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
