<header>
  <h1>Data</h1>
</header>

<nav>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="variables"
        >Data</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="port">Ports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="model">Boats</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
